{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}?{% now "U" %}">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    

  </head>
<body>
<div class="one container-fluid">
  <div class="d-flex row">
    <div class="col-3">
      <section class="" id="menu">
        <div class="logo">
            <img src="../static/img/portfolio/apple-touch-icon.png" alt="">
            <h2>ARS</h2>
        </div>

        <div class="items">
            <li><i class="fa-regular fa-chart-line "></i><a href="{% url 'comphome' %}">Dashboard</a></li>
            <li class="description " style="color:gray"><i class="fa-regular fa-chart-line"></i>Job Description</li>
            <li class="test t1" style="color:gray"><i class="fa-regular fa-chart-line"></i>Test</li>
            <li style="background-color:red; position: absolute;width:100%; bottom: 0;"><i class="fa-regular fa-chart-line"></i><a href="{% url 'logout-redirect' %}" style="color:white">LogOut</a></li>


        </div>
    </section>
    </div>
    <div class="col-9">
      <section class="section2">
      

        <div class="navigation">


              <div class="profile">
                <h2 class="mr-5">{{object.profile_name}}</h2>
                <img src="../static/img/portfolio/apple-touch-icon.png" alt="">
              </div>
        </div>

      <div class='tab hide myDIV1' id=" myDIV1">
          <div class="row">
           <div class="col-md-8 mt-5 ml-5">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Job Name </h3>
              </div>
              <div class="panel-body">
                {{object.profile_name}}
              </div>
            </div>

            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Job Description</h3>
              </div>
              <div class="panel-body">
               {{object.job_info}}
              </div>
            </div>

            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">skills</h3>
              </div>
              <div class="panel-body">
                {% for skill in skills %}
                {{skill.skills}}
                {% endfor %}

              </div>
            </div>
           </div>
         </div>

         <div class="row">
          <div class="col-md-3  ">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">vacancies</h3>
                  </div>
                  <div class="panel-body">
                  {{object.no_of_vacancies}}
                  </div>
                </div>
          </div>

         </div>
      </div>
<!------------------------------2nd Div---------------- -->
<div class='tab myDIV2' id="myDIV2">


    <div class="row  mt-5">
        <a href="{% url 'form' object.id %}" class="btn  btn-primary mr-3">Add Test</a>
        <a href="{% url 'deltest' object.id %}" class="btn  btn-danger">Delete Test</a>
    </div>
   
<div class="row mt-5 ">

  
    <ul class="list-group   list-group-horizontal mt-5 mr-5">
        <li class="list-group-item border bg-light border-danger"><h4>No Of Candidate Appeared :- <span>{{num}}</span></h4></li>
        
    </ul>
    <ul class="list-group  list-group-horizontal mt-5 ">
        <li class="list-group-item border bg-light border-danger"><h4>Max Score Of Test :- <span>{{TotalScore}}</span></h4></li>
        
    </ul>
</div>
  

<h4 class=""><span>Results:-</span></h4>

<!-- Modal -->
<div class="modal fade" id="add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Job Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          
      <!-- ----------Form--------- -->
      <form action="" method="post" id="myform">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputEmail1">Candidate_Name</label>
            <input type="text" name="jobrole" class="form-control" id="#"  placeholder="Please Enter Job Role">
          </div>
          <div class="form-group">
              <label for="exampleInputEmail1">Job description</label>
              <input type="text" name="jobdes" class="form-control" id=""  placeholder="Please Enter Job description">
          </div>
          <div class="form-group ">
              <label for="exampleInputEmail1">Skills Required</label>
              <div class="disskill mb-2">

              </div>
              <input  type="text" class="form-control sk  " name="skill" id="skills" placeholder="Please Enter Reuired skills">
                  
              
          </div>
          
    
          <input type="submit" class="btn btn-primary" value="Save changes">
          
      </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <input type="submit" class="btn btn-primary" value="Save changes"> -->
        <!-- <button type="submit" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
<!-- -------------END-MODAL------------------------- -->


<div class=" mt-5 ml-0">
   
  
    <div class="table-responsive w-75 mr-0">
        <table  class="table table-bordered table-hover table-striped">
            <thead class="pb-5">
              <tr class="bg-dark text-white ">
                <th style="width: 8px;" scope="col">No</th>
                <th style="width: 17%;" scope="col">Name</th>
                <th style="width: 20%;" scope="col">Phone No</th>
                <th style="width: 40%;" scope="col">Email</th>
                <th style="width: 20%;" scope="col">Score</th>
                <th style="width: 20%;" scope="col">Resume</th>
                <th style="width: 20%;" scope="col">Action</th>
                <th style="width: 20%;" scope="col">Report_Candidate</th>
              </tr>
            </thead>
            <tbody>
              {% for t in testres %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{t.0.candidateId.candidate_name}}</td>
                <td>{{t.0.candidateId.phno}}</td>
                <td>{{t.0.candidateId.candidate_email}}</td>
                <td>{{t.0.totalScore}}</td>
                <td><button data-id="{{t.0.candidateId.id}}" class="btn btn-info btn-sm resume">Resume</button></td>
                <!-- <h1>{{ t.candidateId.candi_id.all }}</h1> -->
                <td class="">
                    {% if t.0.candidateId.candi_id.all %}
                        <a href=""><button type="submit" data-check="0" data-id="{{ t.0.candidateId.id }}" data-job="{{jobId}}" class="btn btn-success btn-sm accept {{ t.0.candidateId.id }}">UnAccept</button></a>
                    {% else %}
                        <a href=""><button type="submit" data-check="1" data-id="{{ t.0.candidateId.id }}" data-job="{{jobId}}" class="btn btn-success btn-sm accept {{ t.0.candidateId.id }}">Accept</button></a>
                    {% endif %}
                </td>
                <td><button type="button" data-id="" data-toggle="modal" data-target="#add"  class="btn  btn-danger">Report</button></td>

              </tr>
              {% endfor %}
            </tbody>
          </table>

          
    </div>

</div>  

</div>
     </section>
    </div>
    
     </div>
  </div>
  
</body>
 


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<script>
   $('.accept').on('click',function(){
    // e.preventDefault()
    console.log('hey')
    var canId=$(this).data('id');
    var jobId=$(this).data('job');
    var check=$(this).data('check')
    console.log(canId)
    $.ajax({
      type:"post",
      url:"{% url 'accept' %}",
      headers: { "X-CSRFToken": '{{csrf_token}}' },
      data: {
                id:canId,
                jobId:jobId,
                check:check,
                csrfmiddlewaretoken:"{{csrf_token}}",
            },
      datatype: "json",
      success: function(response){
          if(response.bool=="True"){
              console.log("Tre")
              $(this).data=0
              $(this).html="Unaccept"
          }
          else{
            $(this).data=1
              $(this).html="accept"
          }

      }
    })
  })

  const tab=document.querySelectorAll('.tab');
  const description=document.querySelector('.description');
  const test=document.querySelector('.test');
  const details=document.querySelector('.myDIV1');
  const testdetails=document.querySelector('.myDIV2');

  test.addEventListener('click',function(){
    tab.forEach(t=>t.classList.remove('hide'));
    details.classList.add('hide');
    description.classList.remove('d1')
    test.classList.add('t1')

    
  })
  description.addEventListener('click',function(){
    tab.forEach(t=>t.classList.remove('hide'));
    description.classList.add('d1')
    testdetails.classList.add('hide');
    test.classList.remove('t1')
  })
  // $(document).ready(function(){
    var body = document.getElementsByTagName('body');
  $('.one').on('click',function(){
    $('.con').remove()
  })
  $('.resume').on('click',function(){
    $('.con').remove()
    console.log('hey')
    var canId=$(this).data('id');
    $.ajax({
      type:"post",
      url:"{% url 'disresume' %}",
      headers: { "X-CSRFToken": '{{csrf_token}}' },
      data: {
                id:canId,
                csrfmiddlewaretoken:"{{csrf_token}}",
            },
      datatype: "json",
      success: function(response){
        console.log(response)
        // console.log(response.skills[0].skill);
        // const con=document.querySelector('.con')
        console.log(response.skills.length)            
        let model=`<div class="container con" style="margin-left:33%">
          <div class="btn remres" style="float:right">
        <i class="fas fa-times fa-2x"></i>
    </div>
<div class="row candiName" style="margin-top:4px;padding-top: 3px;padding-left: 20px; font-weight: bolder">
</div>
<hr>
<hr>
<div class="row">
    <div class="col-5 left">
        <p class="heading">
            Education :
        </p>
        <div class="college">
        </div>
        <p class="heading">
            Skills :
        </p>
        <div class="row allskills">
        </div>
        <p class="heading">
          Courses :
        </p>
        <div class="allcourses">
        </div>
    </div>
    <div class="col-7 right">
        <p class="heading">Work Experience :</p>
        <div class="allworkexp">
        </div>
        <p class="heading">Projects :</p>
        <div class="allprjs"> 
        </div>
    </div>
  </div>
</div>`
      $(body).append(model)

        for(let i=0;i<response.skills.length;i++){
          let inp=`<div class="col-6">
                <p class="skill-name">${response.skills[i].skill}</p>
            </div>`
          $('.allskills').append(inp)
        }

        for(let i=0;i<response.courses.length;i++){
          let inp=`
          <p class="cou-name skill-name comp-name">
            ${response.courses[i].course}
        </p>
        <p class="cou-name">
            Platform- ${response.courses[i].platform}
        </p>`
        $('.allcourses').append(inp)
        }

        for(let i=0;i<response.workExp.length;i++){
          if(`${response.workExp[i].internship}`==='true'){
            let inp=`<p class="skill-name comp-name">${response.workExp[i].companyName}</p>
                      <p class="skill-name">Internship</p>
                      <p class="">${response.workExp[i].workDetails}</p>`
            $('.allworkexp').append(inp)
          }
          else{
            let inp=`<p class="skill-name comp-name">${response.workExp[i].companyName}</p>
                      <p class="skill-name">Job</p>
                      <p class="">${response.workExp[i].workDetails}</p>`
            $('.allworkexp').append(inp)
          }
          
        }
        for(let i=0;i<response.prjs.length;i++){
          let inp=`<p class="skill-name comp-name">${response.prjs[i].prj_name}</p>
                    <a href="Prj Link" class="skill-name">${response.prjs[i].prj_link}</a>
                    <p class="skill-name">${response.prjs[i].prj_des}</p>`
          $('.allprjs').append(inp)
    
        }
        candiName=`<h4>${response.username}</h4>`
        $('.candiName').append(candiName)

        college=`<p class="comp-name">${response.college}</p>
                  <p>CGPA :${response.cgpa}</p>`
        $('.college').append(college)

        $('.remres').on('click',remcon)
        document.addEventListener('keydown',function(e){
        console.log(e);
        if(e.key==="Enter" ){
          console.log(e.key)
          remcon(e)
        } 
        })
        function remcon(e){
          e.preventDefault()
          $('.con').remove()
        }
      }
    })
  })
// })



</script>
 <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
 <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

 <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
 
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</html>