@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Rubik&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(209deg, rgb(22 223 126 / 45%) 24%, rgba(0,255,237,1) 100%);
    height: 100vh
}

/* @keyframes move {
    0% {background-position: 0 0;}
  50% {background-position: 100% 0;}
  100% {background-position: 0 0;}
} */

div .heading{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.container .heading button{
    height: 40px;
    border: none;
    color: aliceblue;
    background-color: rgb(20, 200, 113);
    font-size: 70%;
    font-family: 'Bebas Neue', cursive;
}

.formdata{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

skill{
    align-items: baseline;
}


.container{
    display: block;
    overflow: auto;
    height: 90%;
    width: 80%;
    border-radius: 2%;
    background-color: white;
    font-family: 'Kanit', sans-serif;
    font-size: large;
    padding: 20px;
    /* overflow: scroll; */
    
}

.form--trial{
    animation: trail 20s ease-in-out infinite;
    box-shadow: 1px 1px 5px;
}

/* @keyframes trail {
    0%,20%,40%,60%,80%,100%{
        -webkit-transform: translate3d(-3px,0,0);
    }
    10%,30%,50%,70%,90%{
        -webkit-transform: translate3d(3px,0,0);

    }
 
} */

.form-content-perosonal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: ce; */
    padding-left: 30px;
    height: 50%;
    width: 90%;
    font-size: large;
    /* flex-direction: column; */
    overflow: hidden;
} 

.form-content-perosonal-hide{
    height: 0%;
    width:0%;
    overflow: hidden;
}

.form-content-educational{
    display: flex;
    justify-content: center;
    align-items: left;
    padding-left: 30px;
    height: 50%;
    width: 90%;
    font-size: large;
    flex-direction: column;
    overflow: hidden;
} 

.form-content-educational-hide{
    height: 0%;
    width:0%;
    overflow: hidden;
}

.form-content-skills{
    display: flex;
    justify-content: center;
    align-items: left;
    padding-left: 30px;
    height: 50%;
    width: 90%;
    font-size: large;
    flex-direction: column;
    overflow: hidden;
} 

.form-content-skills-hide{
    height: 0%;
    width:0%;
    overflow: hidden;
}

.form-content-work{
    display: flex;
    justify-content: center;
    align-items: left;
    padding-left: 30px;
    height: 50%;
    width: 90%;
    font-size: large;
    flex-direction: column;
    overflow: hidden;
} 

.form-content-work-hide{
    height: 0%;
    width:0%;
    overflow: hidden;
}

input{
   border-top: 0;
   border-left: 0;
   border-right: 0;
   border-bottom-color:  rgb(20, 200, 113);
   padding-top: 20px;
}

select{
    margin-top: 10px;
    height: 40px;
    background-color: white;
    border-top: 0;
   border-left: 0;
   border-right: 0;
   border-bottom-color:  rgb(20, 200, 113);
}

.form-content-work select{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 20px;
    height: 40px;
    width: 40%;
    background-color: white;
    border-top: 0;
   border-left: 0;
   border-right: 0;
   border-bottom-color:  rgb(20, 200, 113);
}



/* For Scroll bar */

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 50px rgb(13, 204, 221); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 255, 94); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
