<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>candidate_home</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../../../static/img/favicon.png" rel="icon">
    <link href="../../../static/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../../../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../../../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../../../static/css/landingPage.css" rel="stylesheet">
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a href="landingpage.html">ARS</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo"><img src="../static/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href="#services">Jobs</a></li>
                    <li><a class="nav-link scrollto" href="#footer">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h1>Get Your Dream Job</h1>
                    <h2>with some simple steps</h2>
                    <p>Register :</p>
                    <div class="container row mb-2">
                        <div class="col-6">
                            <a href="{% url 'candi_regis' %}" class="btn-get-started scrollto">As Candidate</a>
                        </div>
                        <div class="col-6 ">
                            <a href="{% url 'company_registration' %}" class="btn-get-started scrollto">As Recruiter</a>
                        </div>
                    </div>
                    <p>Already have an account ?<a href="{% url 'login' %}">Log in</a></p>
                    
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img">
                    <img src="../../../static/img/hero-img.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>

    </section><!-- End Hero -->

    <main id="main">


        <section id="services" class="services section-bg">
            <div class="container">

                <div class="section-title">
                    <span>Jobs</span>
                    <h2>Jobs</h2>
                    <p>serach job here</p>
                </div>
                <div class="row mb-3 allprofiles" style="width:100% !important">
                    {% for job in job %}
                    <div class="col-lg-4 col-md-6 align-items-stretch mt-4 mt-md-0 mb-3">
                      <div class="icon-box">
                        <div class="icon"><i class="bx bxl-digg"></i></div>
                        <h4><a href="{% url 'job_info' job.id %}">{{ job.profile_name }}</a></h4>
                        <p>By {{job.company_id.company_name}}</p>
                      </div>
                    </div>
                    {% endfor %}
                </div>


            </div>
        </section>



        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts"  style="padding-top: 65px;">
            <div class="container">

                <div class="row counters">

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p>Candidates</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p>resumes</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="223" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p>No of candidate placed</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p>top candidates</p>
                    </div>

                </div>

            </div>
        </section><!-- End Counts Section -->

        <!-- ======= Contact Section ======= -->
        <footer id="footer">

            <div class="footer-top">
    
                <div class="container">
    
                    <div class="row  justify-content-center">
                        <div class="col-lg-6">
                            <h3>ARS</h3>
                            <p>Get Your Dream Job
                                with some simple steps</p>
                        </div>
                    </div>
    
                    <div class="row footer-newsletter justify-content-center">
                        <div class="col-lg-6">
                            <form action="" method="post">
                                <input type="email" name="email" placeholder="Enter your Email"><input type="submit"
                                    value="Subscribe">
                            </form>
                        </div>
                    </div>
    
                    <div class="social-links">
                        <a href="www.twitter.com" class="twitter"><i class="bx bxl-twitter"></i></a>
                        <a href="www.facebook.com" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="www.instagram.com" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="www.google.com" class="google-plus"><i class="bx bxl-skype"></i></a>
                        <a href="www.linkedin.com" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>
    
                </div>
            </div>
        </footer><!-- End Contact Section -->

    </main><!-- End #main -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../static/vendor/purecounter/purecounter.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
<script src="../static/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="../static/js/main.js"></script>

</body>

</html>