@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');

* {
margin:  0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins',sans-serif;

}

body {
    background: #f5f5f5;
}
.one{
    position:absolute
}
 #menu{
    background: #111827;
    width: 300px ;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
 }
 #menu .logo{
    display: flex;
    align-items: center;
    color:  #fff;
   padding: 30px 0 0 30px;

 }
 #menu .logo img{
    width: 40px; 
    margin-right: 15px;
 }
 #menu .items li {
    list-style: none;
    padding: 15px 0;
 }
 #menu .items li i{
    color: grey;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;
 }
 #menu .items li a{
    text-decoration: none;
    color: gray;
    font-weight: 300px;
    transition: 0.3s ease;
 }


 #menu .items li:hover {

    background: #253047;
    cursor: pointer;
    transition: 0.3s ease;
 }
 #menu .items li:nth-child(1){
    border-left: 4px solid #fff;
 }

 #menu .items li:hover i,
 #menu .items li:hover a {
    color: #F3F4F6;
 }


#header{
    margin-left: 30px;
    margin-right: 1100px;
    border:3px solid white;
    border-radius: 30px;
    /* position: relative; */
}
.section1{
    margin-left: 300px;
    border:3px solid white;
    border-radius: 30px;
}

.section1 .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding-top: 15px;
    border-bottom: 3px solid;
}
.section1 .navigation .search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    border: 1px solid #d7dbe6;
    border-radius: 4px;
}
.section1 .navigation .search i{
margin-right: 14px;
}
.section1 .navigation .search input {
border: none;
outline: none;
font-size: 14px;
}
.section1 .navigation .profile{
    margin-left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.section1 .navigation .profile i{
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400px;
}
.section1 .navigation .profile img{
    width: 32px;
    height: 100%;
    border-radius: 50%;
}




#header .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 30px;
    border-bottom: 3px solid;
}
#header .navigation .search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    border: 1px solid #d7dbe6;
    border-radius: 4px;
}
#header .navigation .search i{
margin-right: 14px;
}
#header .navigation .search input {
border: none;
outline: none;
font-size: 14px;
}
#header .navigation .profile{
    margin-left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#header .navigation .profile i{
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400px;
}
#header .navigation .profile img{
    width: 32px;
    height: 100%;
    border-radius: 50%;
}
.i-name{
    color: #444a53;
    padding: 30px 0px 0 30px;
    font-size: 24px;
    font-weight: 700;
}
.boxs{
    padding: 30px 0px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.boxs .box-val{
background: #fff;
width: 235px;
padding: 16px 20px;
border-radius: 5px;
display: flex;
justify-content: flex-start;
align-items: center;
}
.boxs .box-val i{
    font-size: 25px;
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    background: #444a53;
    margin: 15px;
}
body::-webkit-scrollbar{
    display: none;
}

.hide{
    display: none;
}



.con{
    background-color:white;
    border: 3px grey solid;
    border-radius: 10px;
    margin-left: 28%;
    /* height: 40rem; */
    width: 50rem !important;
    height:max-content;
    padding-bottom: 20px;
    position: absolute;

}
.hue{
    position: absolute;
}
.heading{
    font-size: 20px;
    font-weight: bold;
}
.skill-name{
    margin-bottom: 5px;
}
.left{
    border-right: 3px solid black
}
.comp-name{
    font-weight:500;
}
.dis{
    display:none;
}



.section2{
    /* margin-left: 300px; */
    border:3px solid white;
    border-radius: 30px;
}

.section2 .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding-top: 15px;
    border-bottom: 3px solid;
}
.section2 .navigation .search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    border: 1px solid #d7dbe6;
    border-radius: 4px;
}
.section2 .navigation .search i{
/* margin-right: 14px; */
}
.section2 .navigation .search input {
border: none;
outline: none;
font-size: 14px;
}
.section2 .navigation .profile{
    margin-left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.section2 .navigation .profile i{
    /* margin-right: 20px; */
    font-size: 19px;
    font-weight: 400px;
}
.section2 .navigation .profile img{
    /* width: 32px; */
    height: 100%;
    border-radius: 50%;
}

