.job{
    margin-left: 20px;
    /* width:100% */
}
.test{
   margin-left: 43%;
    
}
a{
    color:white
}
a:hover{
    color: white;
    text-decoration: none;
}
.title{
    margin-left:40%;
}
p{
    margin-bottom: 0;
}
.comp{
    font-weight:bold;
    font-size: 20px;
}