<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awesome Quiz App | CodingNepal</title>
    <link rel="stylesheet" href="static/css/testpage.css">
    <!-- <link rel="stylesheet" href="static/css/exam.css"> -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/landingPage.css" rel="stylesheet">

    <!-- FontAweome CDN Link for Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <style>
        .contact .php-email-form input{
            height: 14px;
        }
        .contact .php-email-form label{
            font-size: 18px;
        }
    </style>
</head>

<body>
    <section id="contact" class="contact">
        <p class="logout-timer">
            <span class="timer">05:00</span>
          </p>
        <div class="container">

            <div class="section-title">
                <span>Test</span>
                <h2>Test</h2>
            </div>
            <div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch">
                <form action="exam_res/"  method="post" role="form" class="php-email-form">
                    <!-- <h1 style="text-align: center;">{{course.course_name}}</h1> -->
                    {% for s,e in f %}
                    <div class="d-flex justify-content-between">
                        <h3 >{{ forloop.counter }}. {{s.question}}</h3>
                        <h4 >[Marks {{s.score}}]</h4>
                    </div>
                    {% for o in e %}
                    <div class="form-check my-4">
                        <input class="form-check-input" type="checkbox" name="{{ s.id }}" id="{{q.option1}}"
                            value="{{ o.id }}">
                        <label class="form-check-label" for="option1">
                            {{o.option}}
                        </label>
                    </div>
                    {%endfor%}
                    <hr>
                    {% endfor %}
                    
                    <div class="text-center"><button type="submit">Submit Test</button></div>
                </form>
            </div>

        </div>
    </section>

</body>

    <script>
        let timer
        console.log("dsejx")

        // function saveAns() {

        //     var ele = document.getElementsByTagName('input');
        //     for (i = 0; i < ele.length; i++) {
        //         if (ele[i].type = "radio") {
        //             if (ele[i].checked) {
        //                 setCookie(ele[i].name, ele[i].value, 3)
        //             }
        //         }
        //     }
        // }

        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        const labelTimer = document.querySelector('.timer');
        const startLogOutTimer=function(){
            console.log("hello")
            const tick=function(){
                const min=String(Math.trunc(time/60)).padStart(2,0);
                const sec=String(time%60).padStart(2,0);
                labelTimer.textContent=`${min}:${sec}`;
                if(time==0){
                    clearInterval(timer);
                    // labelWelcome.textContent = 'Log in to get started'
                    // containerApp.style.opacity = 0;
                }
                time--;
            };
            let time=10;
            tick();
            const timer=setInterval(tick,1000)
            return timer;
        console.log("hey")
        }
        startLogOutTimer()

    </script>
</html>