<!-- <!DOCTYPE html> -->
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awesome Quiz App | CodingNepal</title>
    <link rel="stylesheet" href="static/css/testpage.css">
    <!-- <link rel="stylesheet" href="exam.css"> -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/landingPage.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/exam.css">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'exams/css/exam.css' %}?{% now "U" %}"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <!-- FontAweome CDN Link for Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <span>Test</span>
                <h2>Test</h2>
            </div>
                <div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form method="post" class="php-email-form form">
                        {% csrf_token %}
                        <div class="reqtime">
                            <label for="time">Enter Test Duration :</label>
                            <input class="" name="time" id="time" type="time">
                        </div>
                        <div id="question"></div>
                        <input type="hidden" value="1" id="total_qn"> 
                        <button class="btn btn-info mt-2" type="button submit"> SUBMIT</button>
                    </form>
                </div>
                <button type="button" class="btn btn-primary mt-3 newqn"> Add Question</button>
                <button type="button" class="btn btn-danger mt-3 removeqn"> Remove Question</button>
                <!-- <input type="hidden" value="1" id="total_qns">   -->

            </div>
        </div>
    </section>









    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
            $('body').on('click',".add",add)
            $('body').on('click',".remove", remove);
            $('.newqn').on('click',newqn);
            $('.removeqn').on('click',removeqn);
            let opt_no=0;
            let qn_no=0;
function newqn(e){
    e.preventDefault();
    qn_no+=1;

    opt_no=0;
    var new_qn_no = parseInt($('#total_qn').val()) + 1;
    // console.log(new_qn_no);
    // var qn_no=parseInt($('#total_qn').val())+1;
    console.log(qn_no);
    var new_input=`<div class='qn_no_${qn_no} container mb-3'>\
                            <div class='qn justify-content-between row'>\
                                <div class='col-1 ind'>${qn_no}</div>\
                                <input type='text' class ='qn mb-3 col-9' name='${qn_no}' placeholder='Type your question here''>\
                                <div class='score col-2 text-center'><label for="score">Score:</label><input class='s' name='${qn_no}' required type='number'></div>\
                            </div>\
                            <div id='option-${qn_no}' name="${qn_no}" data-id=${qn_no}></div>\
                            <button class='add btn btn-success mt-2 mb-2' data-btn=${qn_no}>Add Option</button>\
                            <button class='remove btn btn-danger mt-2 mb-2'>Remove Option</button>\
                            <input type="hidden" value=0 id='total_chq'>\
                            </div>`
    $('#question').append(new_input);
    $('#total_qn').val(new_qn_no);
}
function removeqn(e){
    e.preventDefault();
    var last_qn = $('#total_qn').val();
    if (last_qn > 1) {
        console.log(qn_no)
        $(`.qn_no_${qn_no}`).remove();
        qn_no--;
    //   $('#new_qn' + last_qn).remove();
    //   $('#new_op' + last_qn).remove();
    //   $('#adop' + last_qn).remove();
    //   $('#remop' + last_qn).remove();
    //   $('#total_qn').val(last_qn - 1);
    }
}
function remove(e) {
    console.log("hey")

    e.preventDefault();
    var last_chq_no =parseInt($('#total_chq').val()-1) ;
    typeof last_chq_no
    console.log(last_chq_no)

    if (last_chq_no >= 0) {
        console.log($(`.${qn_no}_${opt_no}`))
        $(`.${qn_no}_${opt_no}`).remove();
        opt_no--;
    }
    $('#total_chq').val(last_chq_no);

}
function add(e) {
    e.preventDefault();
    // console.log(this)
    let u=$(this).data("btn");
    // const opt=document.querySelector("")
    console.log("ll")
    opt_no++;
    // var qn_no=parseInt($('.qn_no').val());
  var new_chq_no = parseInt($('#total_chq').val()) + 1;
  console.log(new_chq_no)
  var new_input = `\
  <div style='margin-top:10px' class='${qn_no}_${opt_no}'>\
  <input class='form-check-input check' name='${qn_no}_${opt_no}' type='checkbox' value='${qn_no}_${opt_no}' id='new_check" + new_chq_no + "'>\
  <input type='text' name="${qn_no}_${opt_no}" for='${qn_no}_${opt_no}' placeholder="Enter Option" class='option' id='new_" + new_chq_no + "'>\
  </div>`;
  $(`#option-${u}`).append(new_input);
  $('#total_chq').val(new_chq_no);

}
</script>
</body>
</html>