.check{
    width: 20px !important;
    height:20px !important;
}
.qn,.option{
    text-decoration: none;
    border:0;
    /* width: 90%; */
    padding-right: 0%;
    margin-right: 0%;
    margin-right: 0%;
    position: relative;
    height: 10%;
}
.option{
    width: 73%;
}
.score{
    float:right;

    position: relative;
    float:right;
    margin-right: 0% !important;
    justify-content: end;
    top: 0px;
    right: 0px;
    width:5%;
    margin-left: 10%;
    margin:0;
    padding: 0;
}
.s{
    width:50px;
}