.check{
    width: 20px !important;
    height:20px !important;
}
.time{
    background-color: red;
}
.reqtime{
    float:right !important;
    position:relative;
    margin-left: 825px;
    /* padding-left: 70%; */
    margin-bottom: 5px;
}

.qn,.option{
    text-decoration: none;
    border:0;
    /* width: 90%; */
    padding-right: 0%;
    margin-right: 0%;
    margin-right: 0%;
    position: relative;
    height: 10%;
}
.option{
    width: 73%;
}
.score{
    float:right;

    position: relative;
    float:right;
    margin-right: 0% !important;
    justify-content: end;
    top: 0px;
    right: 0px;
    width:5%;
    margin-left: 10%;
    margin:0;
    padding: 0;
}
.s{
    width:50px;
}
.col-1{
    width: 3px !important;
    /* text-align: right; */
}