<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/landingPage.css" rel="stylesheet">
    <link href="../static/css/candi_profile.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <title>Candidate_Profile</title>
</head>

<body>
    <header id="header" class="fixed-top">
        <div class="container-xxl d-flex align-items-center justify-content-between">

            <h1 class="logo"><a href="landingpage.html">ARS</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo"><img src="../static/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="getstarted scrollto" href="/candidate_home">Dashboard</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <div class="container-xxl px-4 mt-5">
        <!-- Account page navigation-->
        <nav class="nav nav-borders">
            <a class="nav-link active ms-0"
                href="https://www.bootdey.com/snippets/view/bs5-edit-profile-account-details"
                target="__blank">Profile</a>
        </nav>
        <hr class="mt-0 mb-4">
        <div class="row">
            <div class="col-xl-4">
                <!-- Profile picture card-->
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Profile Picture</div>
                    <div class="card-body text-center">
                        <!-- Profile picture image-->
                        <img class="img-account-profile rounded-circle mb-2"
                            src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                        <!-- Profile picture help block-->
                        <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                        <!-- Profile picture upload button-->
                        <button class="btn btn-primary" type="button">Upload new image</button>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <!-- Candidate details card-->
                <div class="card mb-4">
                    <div class="card-header">Account Details</div>
                    <div class="card-body">
                        <form method="post" action="" enctype="multipart/form-data">
                            <!-- Form Group (username)-->
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="{{ form.username.id_for_label }}">Username</label>
                                    <input class="form-control" id="inputUsername" type="text"
                                        placeholder="Enter your username" value="{{candi.username}}">
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="{{ form.email.id_for_label }}">Email</label>
                                    <input class="form-control" id="inputEmailAddress" type="email"
                                        placeholder="Enter your email address" value="{{user.email}}">
                                </div>
                            </div>
                            <!-- Form Row-->
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="{{ form.f_name.id_for_label }}">First name</label>
                                    <input class="form-control" id="inputFirstName" type="text"
                                        placeholder="Enter your first name" value="{{user.first_name  | capfirst}}">
                                </div>
                                <!-- Form Group (last name)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="{{ form.l_name.id_for_label }}">Last name</label>
                                    <input class="form-control" id="inputLastName" type="text"
                                        placeholder="Enter your last name" value="{{user.last_name  | capfirst}}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="{{ form.mobile.id_for_label }}">Contact Number</label>
                                <input class="form-control" id="inputConatact" type="text"
                                    placeholder="Enetr your conatct number " value="{{candi.phno}}">
                            </div>

                            <div class="row gutters my-1">
                                <div class="card-header my-3">Address</div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="{{ form.address.id_for_label }}">Enter your address</label>
                                        <textarea type="name" class="form-control" id="Street"
                                            placeholder="Enter Address" value="{{candi.address}}"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row gutters">

                                <div class="card-header my-3">Current</div>
                                <div class="row gx-3 mb-3">
                                    <div class="form-group col-md-6">
                                        <label for="{{ form.current_college_name.id_for_label }}">College Name</label>
                                        <input type="name" class="form-control" id="Street"
                                            placeholder="Enter College Name" value="{{candi.college}}"></input>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="{{ form.college_cgpa.id_for_label }}">CGPA</label>
                                        <input type="name" class="form-control" id="Street"
                                            placeholder="Enter CGPA" value="{{candi.cgpa}}"></input>
                                    </div>
                                </div>
                            </div>
                            <!-- Save changes button-->
                            <button class="btn btn-primary" type="button">Save changes</button>
                        </form>
                        <form action="" class="my-5">
                            <div class="card-header my-3">Resume</div>
                            <h6 class="text-danger">Name of file should be firstName Lastname.pdf</h6>
                            <div class="input-group mb-3">
                                {{form.resumeFile}}
                                <label class="input-group-text" for="{{ form.resumeFile.id_for_label }}"> Upload</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-xxl">
            <div class="card mb-4">
                <div class="card-header">Applied History</div>
                <div class="card-body p-0">
                    <!-- Billing history table-->
                    <div class="table-responsive table-billing-history">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th class="border-gray-200" scope="col">Transaction ID</th>
                                    <th class="border-gray-200" scope="col">Booking ID</th>
                                    <th class="border-gray-200" scope="col">Source</th>
                                    <th class="border-gray-200" scope="col">Destination</th>
                                    <th class="border-gray-200" scope="col">Date</th>
                                    <th class="border-gray-200" scope="col">Time</th>
                                    <th class="border-gray-200" scope="col">seats</th>
                                    <th class="border-gray-200" scope="col">Amount</th>
                                    <th class="border-gray-200" scope="col">Status</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>